@import "rejectstyle.sass"
//------------ Міксини---------------//

// Адаптивний шрифт
@mixin AdaptiveFont($pcSize,$mobSize) 
    $addSize: $pcSize - $mobSize
    $addMobSize: $addSize + $addSize * 0.7
    @media (max-width: 767px) 
        font-size: calc(#{$mobSize+px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}))
    @media (min-width: 767px) 
        font-size:  calc(#{$mobSize+px} + #{$addSize} * (100vw  / #{$maxWidth}))
// Для псевдоелементів  ::before и ::after
@mixin pseudo($display: block, $pos: absolute, $content: '')
    content: $content
    display: $display
    position: $pos

// Константи , змінні
$headerHeight: 6.5em
$minWidth: 300px
$maxWidth: 1920px
$maxWidthContainer: 1170px
$grid-columns: 12 // Set number of columns in the grid  
$xs-max: 40rem // Set xs breakpoint's max width
$sm-max: 64rem // Set sm breakpoint's max width
$md-max: 90rem // Set md breakpoint's max width
$lg-max: 120rem // Set lg breakpoint's max width
$gutter: 1rem // Set gutter size
$content-well-max-width: "none" // Set the max-width of the content well
//Шаблони  

img
    border: 0
    max-width: 100%
    vertical-align: middle
.header
    height: $headerHeight
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 10
    background-color: rgba(31, 77, 7, 0.8)
    &__logo-wrapper
        display: flex
        justify-content: space-between
        align-items: center
    &__logo
        width: 140px
        height: 144px
        position: relative
        display: block
        z-index: 3
        left: 0
        top: -1px
        &-img
            position: relative
    &__header-up
        background-color: rgba(0, 0, 0, 0.8)
    &__header-up__content-area
        margin: 0 auto
        width: 70%
        max-width: $maxWidth
        height: 1.8em
    &__header-up__wrapper
        display: flex
        justify-content: end
        align-items: center
    .social-networks
        margin-right: 2em
        width: 10em
        &__list
            justify-content: space-between
            display: flex
        &__item
            .social-networks__icon
                width: 1em
                height: 1.8em
    &__header-down__content-area
        width: 70%
        margin: 0 auto
        max-width: $maxWidth
    &__header-down__wrapper
        height: 4.7em
        display: flex
        justify-content: space-between
        align-items: center
    &__menu
        padding-right: 10px
body
    height: 100%
    line-height: 1
    font-size: 16px
    // для бургер меню
    &._lock
        overflow: hidden
.wrapper
    min-height: 100%
    overflow: hidden

// секція новин
.main-page
    &__section
        &_news
            //background-color: #572c2c

.main-news
    border: 2px solid
    width: 100%
    height: auto
    margin: 0 auto
    display: flex
    flex-direction: space-between
    // контейнер картинки
    &__element__wrapper
        display: block
        position: relative
        display: block
        text-decoration: none
        cursor: pointer
        overflow: hidden
        will-change: flex
        transition: 1s
        @media (min-width: 920px) 
            min-height: 500px
        @media (max-width: 920px)
            min-height: 300px
        &:hover
            font-size: 25px        
        
        // картинка
        .main-news__element__photo
            width: 100%
            height: 100%
            // маштабується відповідно до розміру екрану
            object-fit: cover
            // розташування контенту при матабуванні:
            object-position: top 
            position: relative
            overflow: hidden
            transition: 1s
            &:hover
                transform: scale(1.2)
        .main-news__element__text-wrapper
            display: block
            z-index: 2
            position: absolute
            left: 10px
            bottom: 15%
            .main-news__element__text-title
                font-size: 25px
                color: green
            .main-news__element__text-body
                color: red
            .main-news__element__text-footer
                color: yellow


.main-page
    margin-top: 1%
    padding: 90px 0px 30px 0px
    .main-page__title
        font-size: 40px
        margin: 0px 0px 20px 0px
        @include AdaptiveFont(40px,24px)   
    .main-page__text
        font-size: 16px
        @include AdaptiveFont(16px,12px)
        line-height: 150%
        color: white
        >p
            margin-bottom: 20px
    .main-page__sub-title
        font-size: 30px
        margin: 0px 0px 20px 0px
        @include AdaptiveFont(30px,20px)
    .main-page__section
        // padding: 30px
        max-width: $maxWidth
        margin: 0px auto
        // height: 100vh
    .main-page__section_matches
        background-color: #77688d
    .main-page__section_players
        background-color: #7a956b
    &__section_table
        background-color: #551b1b
    &__section_socials
        background-color: blue

.menu
    &__icon
        display: none
    &__arrow
        display: none
    &__list
        li
            position: relative
            margin: 0px 0px 0px 20px
    &__link
        &:hover
            text-decoration: underline
    &__link>a
        color: #fff
        font-size: 18px 
    &__sub-list
        position: absolute
        top: 100%
        right: 0
        background-color: rgba(174, 216, 176, 0.62)
        padding: 15px
        min-width: 200px
        li
            margin-bottom: 10px
        li-last-child
            margin: 0
    &__sub-link>a
        &:hover
            text-decoration: underline
            color: #fff       
@media (max-width: 1199px)
    .menu
        &__body
            position: fixed
            left: -100%
            width: 0%
            height: 100%
            top: 0
            background-color: rgba(0,0,0,0.9)
            padding: 100px 30px 30px 30px
            transition: left 0.3s ease 0s
            overflow: auto
            &._active
                width: 50%
                height: 100%
                left: 0
            &::before
                content: ""
                position: fixed 
                width: 100%
                top: 0
                left: 0
                height: $headerHeight
                //background-color: #006400
                z-index: 2
        &__list
            display: flex
            flex-direction: column
            >li
            flex: wrap
            margin: 0px 0px 30px 0px 
            & last-child
                margin-bottom: 0
            &._active
                .menu__sub-list
                    display: block
        &__link>a
            margin-top: 35% 
            font-size: 25px
        &__sub-list
            position: relative
            background-color: #fff
            flex: 1 1 100%
            margin: 20px 0px 0px 0px
            display: none
        &__sub-link>a
            font-size: 20px
            background-color: #000
        &__icon
            z-index: 5
            display: block
            position: relative
            width: 30px
            height: 18px
            cursor: pointer
            //коли іконка нажата
            &._active
                & span 
                    transform: scale(0) translate(0px,-50%)
                &::before
                    top: 50%
                    transform: rotate(-45deg) translate(0px,-50%)
                &::after
                    bottom: 50%
                    transform: rotate(45deg) translate(0px,50%)
            & span, &::after, &::before 
                left: 0
                position: absolute
                height: 10%
                width: 100%
                transition: all 0.3s ease 0s 
                background-color: #fff
            &::before,&::after
                content: ""
            &::before
                top: 0
            &::after 
                bottom: 0
            & span
                top: 50%
                transform: scale(1) translate(0px, -50%)
        


@media (min-width: 767px)
    .menu
        &__list
            display: flex
            align-items: center
            li
                padding: 15px 0px
        &__sub-list
            transform: translate(0px,10%)
            opacity: 0
            visibility: hidden
            pointer-events: none
            transition: all 0.3s ease 0s
//-------РОБОТА З мобільними девайсами та пк-----//
body._pc
        .menu__list
            >li
                &:hover
                    .menu__sub-list
                        opacity: 1
                        visibility: visible
                        transform: translate(0px,0px)
                        pointer-events: all
body._mobile
    .menu__arrow
        display: block
        width: 0
        height: 0
        transition: transform 0.3s ease 0s
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        border-top: 10px solid #fff
        margin-left: 5px
    .menu__list
        li 
            display: flex
            align-items: center
    .menu__link
        flex: 1 1 auto

body._mobile
        .menu__list
            >li._active
                    .menu__arrow
                        transform: rotate(-180deg)
                    .menu__sub-list
                        opacity: 1
                        visibility: visible
                        transform: translate(0px,0px)
                        pointer-events: all
//--------------//


